.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 30px 0;
}

.btn {
  width: 36px;
  height: 36px;
  font-size: 30px;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  font-size: 20px;
}
