.card{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}