.app {
  min-width: 320px;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.win {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.moves {
  font-size: 18px;
}

.restart {
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #e6c5f0;
  font-size: 18px;
}
.restart:hover {
  background-color: #c59df0;
}

@media screen and (min-width: 768px) {
  .app {
    width: 600px;
    padding: 40px;
  }

  .stats {
    flex-direction: row;
  }
}
